:root {
  --light-background: #e4f9f5;
  --primary-color: #7adbce;
  --border-color-1: #11999e;
  --primary-color-dark: rgb(38, 96, 183);
  --font-color: #40514e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--font-color);
}

.login {
  margin: 80px auto;
  width: fit-content;
}
.login_heading {
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}
.login_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  background-color: var(--light-background);
  width: 350px;
  border-radius: 10px;
}
.login_form input {
  padding: 10px;
  border-radius: 7px;
  border: none;
}
.login_form input:focus {
  outline: none;
  border: 1px solid var(--border-color-1);
}

.btn {
  padding: 10px;
  border: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: all ease-in 0.2s;
}
.login_btn {
  background-color: var(--primary-color);
}
.login_btn:hover {
  /* background-color: rgb(38, 96, 183); */
  background-color: var(--primary-color-dark);
}

.login_form span {
  font-size: 14px;
  font-weight: 200;
  margin-top: 0px;
}

.link {
  color: blue;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

/* header  */
.header {
  display: flex;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}
.profile {
  width: 100px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.dropdown {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 32px;

  width: 100px;
  display: none;
}
.dropdown span {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.profile:hover {
  background-color: rgb(196, 196, 196);
}
.profile:hover .dropdown {
  display: flex;
}
.dropdown span:hover {
  background-color: rgb(89, 131, 215);
}

.profile_name {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
